@import './variables';

@mixin psevdo-element {
content: "/";
width: 12px;
height: 12px;
position: absolute;
}

@mixin flex ($flex-direction: row, $justify-content: space-between) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
}

@mixin title-text ($color: $primary-color, $text-transform: uppercase) {
    color: $color;
    font-size: 14px;
    text-transform: $text-transform;
    font-weight: 700;
    line-height: 30px;
}

@mixin title-text-tablet ($color: $primary-color, $text-transform: uppercase, $margin-bottom: 24px) {
    color: $color;
    font-size: 16px;
    text-transform: $text-transform;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: $margin-bottom;
}

@mixin grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 32px;
} 
