@import '../abstracts/variables';
@import '../abstracts/mixin';

.instagram {
    @media (min-width: $tablet) {
        background-color: $background-color;
    }
}

.instagram__wrapper {
    margin: 38px 47px 42px 25px;

    @media (min-width: $tablet) {
        margin: 47px 80px 50px;
    }

    @media (min-width: $desktop) {
        margin: 47px $margin-lr-desktop 50px;
    }
}

.instagram__title-wrapper {
    @include flex;
    align-items: center;
    cursor: pointer;

    h2 {
        @include title-text;
    }

    h4 {
        display: none;

        @media (min-width: $tablet) {
            @include title-text-tablet;
            font-size: 13px;
            display: block;
        }
    }
}

.instagram__item-wrapper {
    @include flex (row, flex-start);
    gap: 10px;
    margin-top: 13px;

    a {
        &:nth-of-type(n + 2) {
            display: none;

            @media (min-width: $tablet) {
                display: block;
            }
        }

        @media (min-width: $tablet) {
            img {
                width: 100%
            }

            &:nth-of-type(n + 4) {
                display: none;

                @media (min-width: $desktop) {
                    display: block;
                }
            }
        }
    }
}
